@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
  }

body {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

a{
text-decoration: none;

}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    position: sticky;
    top:0;
    width: 100%; 
    
}

header li {
    float: left;
}

header li a {
    display: flex;
    color:honeydew;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
    background-color:slategrey;
}

header .active {

    background-color:seagreen;
}

header li a:active {
    background-color:seagreen;
}

.logosite_header {

    width: 50px;
    height: auto;
    float: left;
    vertical-align: middle;
    padding-top: 8px ;
    padding-left: 3%;

}

div.logoreseau_header img {

    display: block;
    width: 30px;
    height: auto;
    float: right;
    padding-right: 15px ;
    padding-top: 5px ;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    

}
div.logoreseau_header {

    
    float: right;
    top : 0px;
    height: 30px;
    padding-right: 7% ;
    padding-top: 10px;

}

div.connexion{
    
    
    float:right;
    display: block;
    border: solid;
    height: 40px;
    border-color: black;
    margin-top: 10px;
    border-radius: 8px;
    background-color:seagreen;
    margin-right: 3%;

}

div.connexion p {

    list-style-type: none;
    margin-top: 10px;
    overflow: hidden;
    display: inline-block;
    float: right;
    text-align: center;
    padding-left: 10px ;
    width: auto;
    color: honeydew;
    margin-right: 5px;
    
}

img.bouton_connexion {

    width: 40px;
    height: auto;
    float:right;
    padding-right: 5px;
    

}

img {

    max-width: 500px;

}

header input{
    padding-left: 15px;
    border:1px dotted #999;
    border-radius: 0;

    /*https://developer.mozilla.org/fr/docs/Learn/Forms/Styling_web_forms*/

    -webkit-appearance: none;
    

}

header input::placeholder{
    opacity: 0.7;
    font-size: 15px;

}

div.bloc_header1 {
    display: block;
    width: 100%;
    height: 65px;
    background-color:gainsboro;
    
}
div.bloc_header2 {
    display: block;
    width: 100%;
    height: 50px;
}
div.barre_de_recherche {

    display: block;
    text-align: center;
    padding-top: 12px;
    
    
    
}



@media screen and (min-width: 820px) {
    div.barre_de_recherche input {
        border-radius: 8px;
        width: 40%;
        height: 35px;
    }
  }
  @media screen and (max-width: 820px) {
    div.barre_de_recherche input {
        display: none;
    }
  }



img.icons_recherche{

    
    width: 20px;
    height: auto;
    background-color: beige;
    

}

.Bouton_recherche_defaut{
    background-image:url(Image/Header/logo_loupe.png);
    background-position:98% ;
    background-repeat: no-repeat;
    background-size: 20px;
    

}


/*////////////////////////////////////////////////////////////////////////////
*/


@media screen and (min-width: 1000px) {
    .main {
        display: block;
        width:auto;
        height:fit-content;
        margin: 0 20%;   
    }
    .article {

        justify-content: space-around;
        margin: 0% 10% 0% 10%;
        
    
    }
    
  }
  @media screen and (max-width: 1000px) {
    .main {
        display: block;
        width:auto;
        height:fit-content;
        margin: 0 12%;   
    }
    .article {

        justify-content: space-around;
        margin: 0% 4% 0% 4%;
        
    
    }

  }

  .intro_article p{

    text-indent: 20px;

  }


.baniere {
    margin-top: 5%;
    background-image: url("Image/Header/image_banière_article1.jpg");
    background-position: center;
    text-align: center;
    height: 200px;
    border-radius: 10px;    
        
}

.baniere h1{

    color: white;
    padding-top:80px;
    

}

.partage_article{

    display: flex ;
    float: right ;
    padding-top: 10px;

}

.partage_article p{

    color: rgb(149, 154, 168);
    text-decoration: none;
    font-size: 0.8em;

}

.navigation_article {

    margin: 5px 10px 10px 20px;

}

.navigation_article a {

    color: rgba(28, 29, 34, 0.7);
    text-decoration: none;
    font-size: 0.8em;

}

.navigation_article a:hover {
    color: black;
}

.navigation_article a:active {
    color:seagreen;
}

.logoreseau_main {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
    color: rgba(122 128 144 / .9);
    margin-right: 20px;
    width: 100px;   

}


.logoreseau_main img{

    width: 20px;

}

.Titre {

    height:55px;

}

.Titre h1{

    margin-top: 10px;

}

.crea_date{

    display: flex;

}

.crea_date p{

    margin:0;
    color: rgba(28, 29, 34, 0.6);
    font-size: 0.85em;


}

.separateur_nom_crea{

    width: 0px;
    height: 10px;
    outline:1px dashed rgba(104, 88, 88, 0.6);
    margin: 3px 10px 0px 10px;

}

.separateur_ident_intro {

    width: 60px;
    height: 1px;
    outline: 1px solid rgba(7, 7, 7, 0.6);
    margin: 20px 0px 20px 20px;
    background-color: black

}

.identite_article {

    display: flex;
    flex-direction: column;
    align-items: left;

}

.intro_article h3{

    color: rgba(7, 7, 7, 0.7);
    margin-bottom: 20px;
    font-size: 1.2em;

}

.intro_article p{

    font-weight: bold;
    font-size: 1.2em;
    margin: 0;

}

.temps_date_article{

    display: flex ;
    align-items: center;
    font-size: 0.8em;
    color: rgba(104, 88, 88, 0.7);
    margin: 0;
    padding: 0;
}

.separateur_date_temps {

    width: 0px;
    height: 10px;
    outline:1px dashed rgba(104, 88, 88, 0.6);
    margin: 0px 5px 0px 15px;


}

.image_article {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px;
    padding: 0;
    height: auto;
}

.image_article p {

    font-size: 0.8em;
    color: rgba(5, 5, 5, 0.7);
    margin: 0;
    font-style: italic;
    text-align: left;
    margin: 5px;
}

.premier_paragraphe {

    color: rgb(45, 124, 98);

}

.main_article {

    margin: 5px 9%;

}

.main_article p{

    font-size: 1.15em;
    width: auto;
    text-align: justify;
    text-indent: 20px;

}

.main_article h3{

    font-size: 1.4em;
    color: rgba(74, 163, 134, 0.8);
}

.lire_aussi h2{

    margin: 60px 10px 30px;

}

.box_articles{

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}
.box {

    height: auto ;
    width: 22.5%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(51, 51, 51, 0.548);
    text-align: center;
    background-color: rgb(248, 248, 248);

}

.box img{

    width: 100%;
    height: auto;
    border-radius: 20px 20px 0% 0%;

}

.box p{

    font-size: 0.8em;
    font-family:Arial, Helvetica, sans-serif;
    
}

.box h3{

    display: table-cell;
    vertical-align:middle;
    font-weight: bold;
    font-size: 0.95em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(46, 68, 63, 0.6);
    height: 100px;
    padding: 1px 2px 1px 2px;

}







/*/////////////////////////////////////////////////////////////////////////////
*/



footer {

    background-color:rgb(19, 19, 19);
    
}


footer ul{    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top:0;
    width: 100%;
         

}

div.logoreseau_footer img {

    width: 20px;
       
}

div.logoreseau_footer {

    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
    margin-right: 0px;
    padding-top: 20px;

}

footer li a {
    display: block;
    color:rgb(235, 236, 236);
    text-align: center;
    padding: 5px ;
    text-decoration: none;
}

footer li a:hover {
    color: rgb(172, 221, 160);
}

footer li a:active {
    color:seagreen;
}

footer .redirection h1 {

    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    
}



footer .presentation_footer h1 {

    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px;


}

footer .redirection {

    display: flex;
    margin: 0;
    margin-top: 10px;
    width: 80%;
    align-items:baseline;
    justify-content: space-around;
    padding-right: 5%;  
    

}

footer .redirection h1{

    margin-bottom: 10px; 
    

}

.limite{

    width: 0px;
    height: 100px;
    outline:1px dashed rgb(175, 175, 175);
    

}

.limite2{


    width: auto;
    height: 0px;
    margin:10px 50px 10px 50px;
    outline:1px dashed rgb(175, 175, 175);

}


.menu_1 {
    
     

}

.menu_2 {
    
    align-items: center;
    justify-content: center;
    
}

.menu_3 {
    float: right ;
    
    
}

.presentation_footer{

    display: flex;
    flex-direction: column ;
    align-items: left ;
    text-align: left;
    margin: auto;
    justify-content: left;
    padding:0 5%;
    color: rgba(255, 255, 255, .7);
    
    


}

.presentation_footer h3{

    font-size: 15px;
    
}


.deux_box{

    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-evenly;

}

.deux_box h1{

    font-size: 15px;
    margin: 3px 3px;
    
    

}

.deux_box a{

    font-size: 15px;

}

footer .copyright {

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.8);
    width: auto;
    margin : 0% 10%
}

.copyright a {

    color: rgba(255, 255, 255, 0.8);

}

footer .copyright a {   
    color:rgb(235, 236, 236);

}

footer .copyright a:hover {
    color: rgb(172, 221, 160);
}

footer .copyright a:active {
    color:seagreen;
}
